SoapPractica2/WebContent/wsdl/Mensaje.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.soappractica2.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.soappractica2.com" xmlns:intf="http://webservice.soappractica2.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.soappractica2.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="daMensaje">
    <complexType>
     <sequence>
      <element name="testo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="daMensajeResponse">
    <complexType>
     <sequence>
      <element name="daMensajeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="daMensajeRequest">

      <wsdl:part element="impl:daMensaje" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="daMensajeResponse">

      <wsdl:part element="impl:daMensajeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Mensaje">

      <wsdl:operation name="daMensaje">

         <wsdl:input message="impl:daMensajeRequest" name="daMensajeRequest">

       </wsdl:input>

         <wsdl:output message="impl:daMensajeResponse" name="daMensajeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MensajeSoapBinding" type="impl:Mensaje">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="daMensaje">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="daMensajeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="daMensajeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MensajeService">

      <wsdl:port binding="impl:MensajeSoapBinding" name="Mensaje">

         <wsdlsoap:address location="http://localhost:8080/SoapPractica2/services/Mensaje"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
